@media only screen and (max-width: 960px){
	.flex-container{
		flex-direction: column;
		flex-wrap: wrap;
		max-width: 960px;
	}
	.flex-container > div{
		max-width: 80%;
	}
	.size_change{
		justify-content: space-around;
	}
	.flex-container > li{
		margin: 0;
		flex:1 100%;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.hero-image{
		margin-top: 0;
		margin: auto;
	}
	/*
	#nav-wrap{
		display: none;
	}
	#hamburger{
		display: block;
		position: fixed;
		z-index: 100;
		margin-left: 0;
		margin: auto;
	}
	#hamburger a{
		text-decoration: none;
  		color: #232323;
  
 		transition: color 0.3s ease;
	}
	#hamburger a:hover{
		color: #F06000;
	}
	#menuToggle{
		position: relative;
		top: 0;
		left: 0;
		
		-webkit-user-select:none;
		user-select: none;
	}
	#menuToggle input{
		display: block;
		width: 100%;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout:none;
	}
	#menuToggle span
	{
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;

		background: #cdcdcd;
		border-radius: 3px;

		z-index: 1;

		transform-origin: 4px 0px;

		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.55s ease;
	}

	#menuToggle span:first-child
	{
		transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2)
	{
		transform-origin: 0% 100%;
	}
	*/
	/* 
 	* Transform all the slices of hamburger
 	* into a crossmark.
 	*/
 	/*
 	#menuToggle input:checked ~ span
 	{
 		opacity: 1;
	 	transform: rotate(45deg) translate(-2px, -1px);
	 	background: #232323;
	 }
	*/
	/*
	 * But let's hide the middle one.
	 */
	/*
	 #menuToggle input:checked ~ span:nth-last-child(3)
	 {
	 	 	opacity: 0;
 		transform: rotate(0deg) scale(0.2, 0.2);
 	}
	*/
	/*
	 * Ohyeah and the last one should go the other direction
	 */
	/*
	 #menuToggle input:checked ~ span:nth-last-child(2)
	 {
	 	transform: rotate(-45deg) translate(0, -1px);
	 }
	*/
	/*
 	* Make this absolute positioned
 	* at the top left of the screen
 	*/
 	/*
 	#menu
 	{
 		position: absolute;
 		width: 300px;
 		margin: -100px 0 0 -50px;
 		padding: 50px;
 		padding-top: 125px;

	 	background: #ededed;
	 	list-style-type: none;
	 	-webkit-font-smoothing: antialiased;
	 
	 	transform-origin: 0% 0%;
		  transform: translate(-100%, 0);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	
	#menu li
	{
	  padding: 10px 0;
	  font-size: 22px;
	}
	*/
	/*
	 * And let's slide it in from the left
	 */
	/*
	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}
	*/
	 #nav-wrap {
      font: 12px 'opensans-bold', sans-serif;
      background: transparent !important;
      letter-spacing: 1.5px;  
      width: auto;
      position: fixed;
      top: 0;
      right: 0;
   }
   #nav-wrap > a {
	   width: 48px;
		height: 48px;
		text-align: left;
		background-color: #CC5200;
		position: relative;
      border: none;
      float: right;

      font: 0/0 a;
      text-shadow: none;
      color: transparent;

      position: relative;
      top: 0px;
      right: 30px;
   }

	#nav-wrap > a:before,
   #nav-wrap > a:after {
	   position: absolute;
		border: 2px solid #fff;
		top: 35%;
		left: 25%;
		right: 25%;
		content: '';
	}
   #nav-wrap > a:after { top: 60%; }

   /* toggle buttons */
	#nav-wrap:not( :target ) > a:first-of-type,
	#nav-wrap:target > a:last-of-type  {
	   display: block;
	}

   /* hide menu panel */
   #nav-wrap ul#nav {
      height: auto;
		display: none;
      clear: both;
      width: auto; 
      float: right;     

      position: relative;
      top: 12px;
      right: 0;
   }

   /* display menu panels */
	#nav-wrap:target > ul#nav	{
	   display: block;
      padding: 30px 20px 48px 20px;
      background: #1f2024;
      margin: 0 30px;
      clear: both;
   }

   ul#nav li {
      display: block;
      height: auto;      
      margin: 0 auto; 
      padding: 0 4%;           
      text-align: left;
      border-bottom: 1px solid #2D2E34;
      border-bottom-style: dotted; 
   }
  
   ul#nav li a {  
      display: block;    
      margin: 0;
      padding: 0;      
      margin: 12px 0; 
      line-height: 16px; /* reset line-height from 48px */
      border: none;
   }  

}
