/*
.wrap{
	margin-left: 80%;
	margin: auto;
	background: green;
}
.content{
	background-color: red;
	float: left;
	width: 90%;
	height: 600px;
}
aside{
	background: brown;
	float: left;
	width: 10%;
	min-width: 100px;
	height: 600px;
}
footer{
	clear: both;
}
*/
/*
h1{
	font-size: 60px;
	text-align: center;
	margin-top: 10px;
	font-family: cursive;
	color: grey;

}
form li{
	list-style: none;
	margin-bottom: 10px;
}
form ul{
	padding-left: 0;
}
label{
	display: block;
}
*/
body{
	margin: 0;
}
.something{
	width: 800px;
	height:1000px;
	position: relative;
	margin: auto;
	background: #e3e3e3;
}
.box{
	width: 70px;
	height: 70px;
	margin: auto;
	background: red;
	position: relative;
	left: 10px;
	top: 20px;
}