body{
	width: 600px;
	margin: 20px auto;
	font-family: sans-serif;
}
.preview{
	float: right;
	/*background: red;*/
	width: 500px;
}
article h2{
	font-size: 39px;
}
.meta a{
	font-style: italic;
	font-size: 14px;
}
.meta li{
	display: inline;
}
.meta a:after{
	content: '\\'
	padding: 0 10px;
}