h1{
	font-family: sans-serif;
	font-weight: bold;
}
body{
	background-color: #e3e3e3;
	font-family: sans-serif;

}
blockquote{
	text-align: center;
	border: 1px solid white;
	
}
div{
	margin: auto;
	
	width: 700px;
}
